* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #008CBA;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

nav .menu-toggle .menu-icon::before {
    content: '\2630'; /* Unicode character for menu icon */
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav .nav-links li {
    display: inline;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.reel {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.reel-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 30px);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #aeffc996;
}

.reel-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.reel-item img {
    max-width: 100%;
    border-radius: 10px;
}

.reel-item .description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .reel-item {
        flex: 1 1 calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .reel-item {
        flex: 1 1 calc(100% - 30px);
    }

    nav .menu-toggle {
        display: block;
    }

    nav .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav .nav-links li {
        margin: 10px 0;
    }

    nav .nav-links.active {
        display: flex;
    }
}
